@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';

.burger-btn {
  width: 65px;
  height: 60px;
  border: 3px solid $text-color-primary;
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  // Полоски бургера
  &::before,
  &::after,
  span {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: $text-color-primary;
    position: absolute;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
  }

  &::before {
    transform: translateY(-10px);
    box-shadow: 0 10px 0 $text-color-primary;
  }

  &::after {
    transform: translateY(10px);
  }

  // Анимация при активном состоянии
  &.active {
    &::before {
      transform: translateY(0) rotate(45deg);
      box-shadow: 0 10px 0 $text-color-light;
    }

    &::after {
      transform: translateY(0) rotate(-45deg);
    }
  }
}

//Первая страница,кнопки
.btn-great {
  @include button-styles('btn-great-order', 200px, 10px auto 850px auto, 20px);
}
.btn-great2 {
  @include button-styles('btn-great-order', 200px, 10px auto 100px auto, 20px);
}

//Вторая страница,кнопки
.btn-choice {
  margin-top: 10px;
  .btn-calculator {
    @include button-styles('btn-calculator-order', 300px, 15px auto, 20px);
  }
}

//Четвертая страница,кнопки
.cost-order {
  @include button-styles('btn-cost-order', 250px, 10px auto 10px auto, 20px);
}
.info-order {
  display: flex;
  .info-order-btn {
    @include button-styles(
      'info-order-btn-cd',
      130px,
      10px auto 10px auto,
      17px
    );
  }
}

.request-an-invoice {
  @include button-styles(
    'request-an-invoice-btn',
    300px,
    10px auto 10px auto,
    15px
  );
}
// Cтраница РАСКРОЯ,кнопки ВЕРНУТЬСЯ
.btn-cut {
  width: $page-width;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 170px; /* Расстояние от верхнего края окна */
  right: 250px;
  .btn-cutting {
    @include button-styles(
      'btn-cutting-exit',
      200px,
      10px auto 850px auto,
      20px
    );
  }
}
@media (min-width: 768px) {
  .btn-cut {
    width: $page-width;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 170px; /* Расстояние от верхнего края окна */
    right: 850px;
    .btn-cutting {
      @include button-styles(
        'btn-cutting-exit',
        200px,
        10px auto 850px auto,
        20px
      );
    }
  }
}
// Cтраница ЧЕРТЕЖ,кнопка
.btn-draw {
  width: $page-width;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 400px; /* Расстояние от верхнего края окна */
  right: 20px;
  .btn-drawing {
    @include button-styles(
      'btn-drawing-exit',
      200px,
      10px auto 850px auto,
      20px
    );
  }
}
@media (min-width: 768px) {
  .btn-draw {
    width: $page-width;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 400px; /* Расстояние от верхнего края окна */
    right: 850px;
    .btn-cutting {
      @include button-styles(
        'btn-cutting-exit',
        200px,
        10px auto 850px auto,
        20px
      );
    }
  }
}
