@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';

.burger-btn {
  width: 65px;
  height: 60px;
  border: 3px solid $text-color-primary;
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  // Полоски бургера
  &::before,
  &::after,
  span {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: $text-color-primary;
    position: absolute;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
  }

  &::before {
    transform: translateY(-10px);
    box-shadow: 0 10px 0 $text-color-primary;
  }

  &::after {
    transform: translateY(10px);
  }

  // Анимация при активном состоянии
  &.active {
    &::before {
      transform: translateY(0) rotate(45deg);
      box-shadow: 0 10px 0 $text-color-light;
    }

    &::after {
      transform: translateY(0) rotate(-45deg);
    }
  }
}

//Первая страница,кнопки
.btn-great {
  @include button-styles('btn-great-order', 200px, 10px auto 850px auto, 20px);
}

//Вторая страница,кнопки
.btn-choice {
  margin-top: 10px;
  .btn-calculator {
    @include button-styles('btn-calculator-order', 300px, 15px auto, 20px);
  }
}
//Третья страница,кнопки
.btn-confirmation-stone {
  position: fixed;
  bottom: 30px;
  z-index: 10;
  @include button-styles(
    'confirmation-stone-selection',
    200px,
    10px auto 10px auto,
    20px
  );
}
