@font-face {
  font-family: 'MV Crooker'; // имя шрифта, которое будем использовать
  src: url('../fonts/MV-Crooker.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // для оптимизации загрузки
}
