@charset "UTF-8";
@font-face {
  font-family: "MV Crooker";
  src: url("../assets/fonts/MV-Crooker.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  padding: 20px;
  background-color: #1b1818;
  border-bottom: 1px solid #f5c3c3;
  text-align: center;
  height: 30px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  margin: 0;
}

.navigation {
  position: relative;
}
.navigation .burger-btn {
  position: absolute;
  top: 20px;
  right: -14px;
  z-index: 1000;
}
.navigation .burger-btn.active span {
  opacity: 0;
}
.navigation .burger-btn.active::before {
  transform: rotate(45deg);
}
.navigation .burger-btn.active::after {
  transform: rotate(-45deg);
}
.navigation__menu {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  border-radius: 10px;
}
.navigation__menu.active {
  display: block;
}
.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navigation__link {
  display: block;
  padding: 15px;
  color: #866e6e;
  text-decoration: none;
  transition: all 0.3s ease;
  text-align: center;
}
.navigation__link:hover {
  background: rgba(0, 0, 0, 0.05);
}
.navigation__link.active {
  background: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

#home {
  background-image: url("../assets/images/mobile/Вся главная страница мобильник4.webp");
  width: 320px;
  height: 2100px;
  overflow-y: hidden;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.header-contact {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 370px;
}
.header-contact a {
  font-size: 20px;
  text-decoration: none;
  color: #866e6e;
}
.header-contact .whatsapp-icon {
  width: 24px;
  height: auto;
  margin-left: 10px;
  margin-right: -5px;
}
.header-contact .telegram-icon {
  width: 24px;
  height: auto;
  margin-left: 10px;
}

#calculator {
  background-image: url("../assets/images/mobile/Калькулятор44.webp");
  width: 320px;
  height: 100vh;
  overflow-y: hidden;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.stone-selection-name {
  margin-top: 230px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.data-size {
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.data-size .data-size-input {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.data-size .data-size-input label {
  font-size: 20px;
}
.data-size .data-input-border {
  width: 100px;
  height: 40px;
  border: 2px solid #585f73;
  border-radius: 20px;
  background: #ffffff;
  text-align: center;
  font-size: 20px;
}

#stone-selection {
  background: #585f73;
  width: 320px;
  height: 4000px;
  overflow-y: auto;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
#stone-selection .txt-choose-a-color {
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  text-align: center;
  margin: 10px 30px;
  font-size: 30px;
  width: 100px;
}
#stone-selection .array-stones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#stone-selection .grid-element {
  display: flex; /* Используем Flexbox для расположения элементов */
  align-items: center; /* Центруем элементы по вертикали */
  justify-content: center;
  padding: 0px; /* Отступы для кнопки */
  border: 3px solid rgb(204, 138, 71); /* Граница кнопки */
  border-radius: 20px;
  cursor: pointer; /* Курсор указателя при наведении */
  background-color: #585f73; /* Фон кнопки */
  width: 90%;
  margin: 10px;
}
#stone-selection .grid-element:hover {
  background-color: rgb(69, 83, 96);
}
#stone-selection .grid-element .button-image {
  width: 100px; /* Ограничение высоты изображения */
  border-radius: 17px;
  margin-right: auto;
  float: left;
}
#stone-selection .grid-element .price {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
#stone-selection .grid-element .price .info-stones {
  color: #ffffff;
}
#stone-selection .grid-element .button-description {
  margin-top: 5px; /* Отступ сверху для описания */
  color: #555; /* Цвет текста описания */
}

#cart {
  background-image: url("../assets/images/mobile/Корзина4.webp");
  width: 320px;
  height: 1100px;
  overflow-y: auto;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.cart-choose-a-color {
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 30px;
  width: 300px;
}

.cart-name-choose {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.cart-name-choose div {
  color: #ffffff;
  font-size: 20px;
}

.cart-data-choose {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: rgb(204, 138, 71);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.cart-data-choose .cart-data-stone {
  width: 80%;
}
.cart-data-choose .cart-data-size-order {
  width: 80%;
}

.cost-order-data-viz {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

.place-an-order {
  text-align: center;
  font-size: 30px;
  color: #585f73;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact-form .pole {
  width: 90%;
  height: 40px;
  background-color: rgb(232, 209, 185);
  border-radius: 15px;
  margin: 5px;
  border: none;
  color: #ffffff;
}
#contact-form .pole3 {
  height: 100px;
}

/* Стили для placeholder */
.pole::-moz-placeholder {
  color: white; /* Установите цвет текста на белый */
  opacity: 1; /* Убедитесь, что текст не полупрозрачный */
  padding-left: 20px;
  font-size: 20px;
}
.pole::placeholder {
  color: white; /* Установите цвет текста на белый */
  opacity: 1; /* Убедитесь, что текст не полупрозрачный */
  padding-left: 20px;
  font-size: 20px;
}

.cart-text-bottom {
  color: #585f73;
}

.draw {
  margin-top: 100px;
  width: 320px;
  height: 100vh;
  background-image: url("../assets/images/mobile/Чертеж подоконника.png");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ffffff;
}

.burger-btn {
  width: 65px;
  height: 60px;
  border: 3px solid #866e6e;
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.burger-btn::before, .burger-btn::after,
.burger-btn span {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #866e6e;
  position: absolute;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}
.burger-btn::before {
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #866e6e;
}
.burger-btn::after {
  transform: translateY(10px);
}
.burger-btn.active::before {
  transform: translateY(0) rotate(45deg);
  box-shadow: 0 10px 0 #ffffff;
}
.burger-btn.active::after {
  transform: translateY(0) rotate(-45deg);
}

.btn-great {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  border-radius: 15px;
  background-color: rgb(204, 138, 71);
  margin: 10px auto 850px auto;
}
.btn-great:hover {
  background-color: rgb(136, 91, 46);
  transform: scale(1.1);
}
.btn-great:hover .btn-great-order {
  background-color: rgb(136, 91, 46);
}
.btn-great .btn-great-order {
  margin: 5px;
  background-color: rgb(204, 138, 71);
  border: 4px dashed #866e6e;
  border-radius: 15px;
  font-size: 20px;
  padding: 7px;
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  font-weight: 100;
}
.btn-great .btn-great-order:hover {
  background-color: rgb(136, 91, 46);
}

.btn-choice {
  margin-top: 10px;
}
.btn-choice .btn-calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 300px;
  border-radius: 15px;
  background-color: rgb(204, 138, 71);
  margin: 15px auto;
}
.btn-choice .btn-calculator:hover {
  background-color: rgb(136, 91, 46);
  transform: scale(1.1);
}
.btn-choice .btn-calculator:hover .btn-calculator-order {
  background-color: rgb(136, 91, 46);
}
.btn-choice .btn-calculator .btn-calculator-order {
  margin: 5px;
  background-color: rgb(204, 138, 71);
  border: 4px dashed #866e6e;
  border-radius: 15px;
  font-size: 20px;
  padding: 7px;
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  font-weight: 100;
}
.btn-choice .btn-calculator .btn-calculator-order:hover {
  background-color: rgb(136, 91, 46);
}

.bt-confirmation-stone {
  display: flex;
  justify-content: center;
}
.bt-confirmation-stone .btn-confirmation-stone {
  position: fixed;
  bottom: 30px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  border-radius: 15px;
  background-color: rgb(204, 138, 71);
  margin: 10px auto 10px auto;
}
.bt-confirmation-stone .btn-confirmation-stone:hover {
  background-color: rgb(136, 91, 46);
  transform: scale(1.1);
}
.bt-confirmation-stone .btn-confirmation-stone:hover .confirmation-stone-selection {
  background-color: rgb(136, 91, 46);
}
.bt-confirmation-stone .btn-confirmation-stone .confirmation-stone-selection {
  margin: 5px;
  background-color: rgb(204, 138, 71);
  border: 4px dashed #866e6e;
  border-radius: 15px;
  font-size: 20px;
  padding: 7px;
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  font-weight: 100;
}
.bt-confirmation-stone .btn-confirmation-stone .confirmation-stone-selection:hover {
  background-color: rgb(136, 91, 46);
}

.cost-order {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 250px;
  border-radius: 15px;
  background-color: rgb(204, 138, 71);
  margin: 10px auto 10px auto;
}
.cost-order:hover {
  background-color: rgb(136, 91, 46);
  transform: scale(1.1);
}
.cost-order:hover .btn-cost-order {
  background-color: rgb(136, 91, 46);
}
.cost-order .btn-cost-order {
  margin: 5px;
  background-color: rgb(204, 138, 71);
  border: 4px dashed #866e6e;
  border-radius: 15px;
  font-size: 20px;
  padding: 7px;
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  font-weight: 100;
}
.cost-order .btn-cost-order:hover {
  background-color: rgb(136, 91, 46);
}

.info-order {
  display: flex;
}
.info-order .info-order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 130px;
  border-radius: 15px;
  background-color: rgb(204, 138, 71);
  margin: 10px auto 10px auto;
}
.info-order .info-order-btn:hover {
  background-color: rgb(136, 91, 46);
  transform: scale(1.1);
}
.info-order .info-order-btn:hover .info-order-btn-cd {
  background-color: rgb(136, 91, 46);
}
.info-order .info-order-btn .info-order-btn-cd {
  margin: 5px;
  background-color: rgb(204, 138, 71);
  border: 4px dashed #866e6e;
  border-radius: 15px;
  font-size: 17px;
  padding: 7px;
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  font-weight: 100;
}
.info-order .info-order-btn .info-order-btn-cd:hover {
  background-color: rgb(136, 91, 46);
}

.request-an-invoice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 300px;
  border-radius: 15px;
  background-color: rgb(204, 138, 71);
  margin: 10px auto 10px auto;
}
.request-an-invoice:hover {
  background-color: rgb(136, 91, 46);
  transform: scale(1.1);
}
.request-an-invoice:hover .request-an-invoice-btn {
  background-color: rgb(136, 91, 46);
}
.request-an-invoice .request-an-invoice-btn {
  margin: 5px;
  background-color: rgb(204, 138, 71);
  border: 4px dashed #866e6e;
  border-radius: 15px;
  font-size: 15px;
  padding: 7px;
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  font-weight: 100;
}
.request-an-invoice .request-an-invoice-btn:hover {
  background-color: rgb(136, 91, 46);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "MV Crooker", sans-serif;
  line-height: 1.5;
  width: 320px;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  display: none;
}
.page.active {
  display: block;
}/*# sourceMappingURL=main.css.map */