@charset "UTF-8";
@font-face {
  font-family: "MV Crooker";
  src: url("../assets/fonts/MV-Crooker.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  padding: 20px;
  background-color: #1b1818;
  border-bottom: 1px solid #f5c3c3;
  text-align: center;
  height: 30px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  width: 30px;
  margin-right: 10px;
}
.header h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  margin: 0;
}
.header h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: white;
  margin: 0;
}

.navigation {
  position: relative;
}
.navigation .burger-btn {
  position: absolute;
  top: 20px;
  right: -14px;
  z-index: 1000;
}
.navigation .burger-btn.active span {
  opacity: 0;
}
.navigation .burger-btn.active::before {
  transform: rotate(45deg);
}
.navigation .burger-btn.active::after {
  transform: rotate(-45deg);
}
.navigation__menu {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  border-radius: 10px;
}
.navigation__menu.active {
  display: block;
}
.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navigation__link {
  display: block;
  padding: 15px;
  color: #866e6e;
  text-decoration: none;
  transition: all 0.3s ease;
  text-align: center;
}
.navigation__link:hover {
  background: rgba(0, 0, 0, 0.05);
}
.navigation__link.active {
  background: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

#home {
  background-image: url("../assets/images/mobile/Вся главная страница мобильник4.webp");
  width: 320px;
  height: 2100px;
  overflow-y: hidden;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.header-contact {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 30px;
}
.header-contact a {
  font-size: 20px;
  text-decoration: none;
  color: #866e6e;
}
.header-contact .whatsapp-icon {
  width: 24px;
  height: auto;
  margin-left: 10px;
  margin-right: -5px;
}
.header-contact .telegram-icon {
  width: 24px;
  height: auto;
  margin-left: 10px;
}

.slogan1 {
  color: #866e6e;
  margin-bottom: 260px;
  text-align: center;
}

.txt-contact {
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 90%;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

#openMap {
  width: 100px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: auto;
  display: block;
}

#calculator {
  background-image: url("../assets/images/mobile/Калькулятор44.webp");
  width: 320px;
  height: 1100px;
  overflow-y: hidden;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.stone-selection-name {
  margin-top: 230px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.data-size {
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.data-size .data-size-input {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}
.data-size .data-size-input label {
  font-size: 17px;
}
.data-size .data-input-border {
  width: 100px;
  height: 30px;
  border: 2px solid #585f73;
  border-radius: 20px;
  background: #ffffff;
  text-align: center;
  font-size: 20px;
}

.calck-txt {
  color: #585f73;
}

.Edge-Selection div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.Edge-Selection div .Edge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
  text-align: center;
  position: relative;
}
.Edge-Selection div .Edge :hover {
  cursor: pointer;
  border: 2px solid rgb(232, 209, 185);
}
.Edge-Selection div .Edge img {
  width: 100%; /* Делаем изображение во всю ширину кнопки */
  height: auto;
}
.Edge-Selection div .Edge .button-text {
  position: absolute; /* Устанавливаем абсолютное позиционирование */
  color: #866e6e; /* Цвет текста (можно настроить) */
  font-size: 24px; /* Размер шрифта (можно настроить) */
  font-weight: bold; /* Жирный текст (можно настроить) */
  pointer-events: none; /* Игнорирование событий мыши на тексте, чтобы не мешал кликам по кнопке */
  margin-left: 30px;
}

#stone-selection {
  background: #585f73;
  width: 320px;
  height: 4000px;
  overflow-y: auto;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  perspective: 1000px;
}
#stone-selection .stonemanufacturer {
  color: #ffffff;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 10px;
}
#stone-selection .stonemanufacturer-name {
  color: #ffffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  text-align: center;
}
#stone-selection .txt-choose-a-color {
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  text-align: center;
  margin: 10px 30px;
  font-size: 30px;
  width: 100px;
}
#stone-selection .array-stones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#stone-selection .grid-element {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border: 3px solid rgb(204, 138, 71);
  border-radius: 20px;
  cursor: pointer;
  background-color: #ffffff;
  width: 90%;
  height: 150px;
  margin: 10px;
  transform-style: preserve-3d;
  transition: transform 0.5s, box-shadow 1.5s;
}
#stone-selection .grid-element .button-image {
  width: 150px;
  border-radius: 17px;
  margin-right: auto;
  margin-left: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.7s ease;
}
#stone-selection .grid-element .button-image:hover {
  transform: scale(1.1);
}
#stone-selection .grid-element .price {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
#stone-selection .grid-element .price .info-stones {
  color: #866e6e;
}
#stone-selection .grid-element .button-description {
  margin-top: 5px;
  color: #555;
}

#cart {
  background-image: url("../assets/images/mobile/Корзина4.webp");
  width: 320px;
  height: 1100px;
  overflow-y: auto;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.cart-choose-a-color {
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 30px;
  width: 300px;
}

.cart-name-choose {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.cart-name-choose div {
  color: #ffffff;
  font-size: 20px;
}

.cart-data-choose {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: rgb(204, 138, 71);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.cart-data-choose .cart-data-stone {
  width: 80%;
}
.cart-data-choose .cart-data-size-order {
  width: 80%;
}

.cost-order-data-viz {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

.place-an-order {
  text-align: center;
  font-size: 30px;
  color: #585f73;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact-form .pole {
  width: 90%;
  height: 40px;
  background-color: rgb(232, 209, 185);
  border-radius: 15px;
  margin: 5px;
  border: none;
  color: #ffffff;
}
#contact-form .pole3 {
  height: 100px;
  color: #866e6e;
  padding: 8px;
}

/* Стили для placeholder */
.pole::-moz-placeholder {
  color: white; /* Установите цвет текста на белый */
  opacity: 1; /* Убедитесь, что текст не полупрозрачный */
  padding-left: 20px;
  font-size: 20px;
}
.pole::placeholder {
  color: white; /* Установите цвет текста на белый */
  opacity: 1; /* Убедитесь, что текст не полупрозрачный */
  padding-left: 20px;
  font-size: 20px;
}

.cart-text-bottom {
  color: #585f73;
}

.cost-order-data-viz .cost-order-data-logic {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  font-weight: 100 !important;
  color: aqua;
  font-size: 30px;
}

#drawing {
  margin-top: 70px;
  width: 320px;
  height: 100vh;
  color: #866e6e;
}
#drawing img {
  width: 100%;
  height: auto;
}
#drawing p {
  font-size: 10px;
}

#cutting {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
}
#cutting .sheet-container {
  position: relative;
  width: 760px;
  height: 3660px;
  min-height: 100px;
  border: 2px solid #8e0b48;
  background: #f5f5f5;
  transform: scale(0.3);
  margin-top: -380px;
  margin-bottom: -1200px;
  padding: 0;
  top: 0;
}
#cutting .sheet-container .tile-element {
  position: absolute;
  background: #e3f2fd;
  border: 2px solid #2196f3;
  color: #2b6a2b;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sheets-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50px);
}

.sheet-label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cutting-txt {
  font-size: 12px;
  width: 60% !important;
  margin-left: 10px;
  margin-right: auto;
}

.burger-btn {
  width: 65px;
  height: 60px;
  border: 3px solid #866e6e;
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.burger-btn::before, .burger-btn::after,
.burger-btn span {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #866e6e;
  position: absolute;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}
.burger-btn::before {
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #866e6e;
}
.burger-btn::after {
  transform: translateY(10px);
}
.burger-btn.active::before {
  transform: translateY(0) rotate(45deg);
  box-shadow: 0 10px 0 #ffffff;
}
.burger-btn.active::after {
  transform: translateY(0) rotate(-45deg);
}

.btn-great {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  border-radius: 15px;
  background-color: rgb(204, 138, 71);
  margin: 10px auto 850px auto;
}
.btn-great:hover {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
  transform: scale(1.1);
}
.btn-great:hover .btn-great-order {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
}
.btn-great .btn-great-order {
  margin: 5px;
  background-color: rgb(204, 138, 71);
  border: 4px dashed #866e6e;
  border-radius: 15px;
  font-size: 20px;
  padding: 7px;
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  font-weight: 100;
}
.btn-great .btn-great-order:hover {
  background-color: rgb(136, 91, 46);
}

.btn-great2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  border-radius: 15px;
  background-color: rgb(204, 138, 71);
  margin: 10px auto 100px auto;
}
.btn-great2:hover {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
  transform: scale(1.1);
}
.btn-great2:hover .btn-great-order {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
}
.btn-great2 .btn-great-order {
  margin: 5px;
  background-color: rgb(204, 138, 71);
  border: 4px dashed #866e6e;
  border-radius: 15px;
  font-size: 20px;
  padding: 7px;
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  font-weight: 100;
}
.btn-great2 .btn-great-order:hover {
  background-color: rgb(136, 91, 46);
}

.btn-choice {
  margin-top: 10px;
}
.btn-choice .btn-calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 300px;
  border-radius: 15px;
  background-color: rgb(204, 138, 71);
  margin: 15px auto;
}
.btn-choice .btn-calculator:hover {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
  transform: scale(1.1);
}
.btn-choice .btn-calculator:hover .btn-calculator-order {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
}
.btn-choice .btn-calculator .btn-calculator-order {
  margin: 5px;
  background-color: rgb(204, 138, 71);
  border: 4px dashed #866e6e;
  border-radius: 15px;
  font-size: 20px;
  padding: 7px;
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  font-weight: 100;
}
.btn-choice .btn-calculator .btn-calculator-order:hover {
  background-color: rgb(136, 91, 46);
}

.cost-order {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 250px;
  border-radius: 15px;
  background-color: rgb(204, 138, 71);
  margin: 10px auto 10px auto;
}
.cost-order:hover {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
  transform: scale(1.1);
}
.cost-order:hover .btn-cost-order {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
}
.cost-order .btn-cost-order {
  margin: 5px;
  background-color: rgb(204, 138, 71);
  border: 4px dashed #866e6e;
  border-radius: 15px;
  font-size: 20px;
  padding: 7px;
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  font-weight: 100;
}
.cost-order .btn-cost-order:hover {
  background-color: rgb(136, 91, 46);
}

.info-order {
  display: flex;
}
.info-order .info-order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 130px;
  border-radius: 15px;
  background-color: rgb(204, 138, 71);
  margin: 10px auto 10px auto;
}
.info-order .info-order-btn:hover {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
  transform: scale(1.1);
}
.info-order .info-order-btn:hover .info-order-btn-cd {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
}
.info-order .info-order-btn .info-order-btn-cd {
  margin: 5px;
  background-color: rgb(204, 138, 71);
  border: 4px dashed #866e6e;
  border-radius: 15px;
  font-size: 17px;
  padding: 7px;
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  font-weight: 100;
}
.info-order .info-order-btn .info-order-btn-cd:hover {
  background-color: rgb(136, 91, 46);
}

.request-an-invoice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 300px;
  border-radius: 15px;
  background-color: rgb(204, 138, 71);
  margin: 10px auto 10px auto;
}
.request-an-invoice:hover {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
  transform: scale(1.1);
}
.request-an-invoice:hover .request-an-invoice-btn {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
}
.request-an-invoice .request-an-invoice-btn {
  margin: 5px;
  background-color: rgb(204, 138, 71);
  border: 4px dashed #866e6e;
  border-radius: 15px;
  font-size: 15px;
  padding: 7px;
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  font-weight: 100;
}
.request-an-invoice .request-an-invoice-btn:hover {
  background-color: rgb(136, 91, 46);
}

.btn-cut {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  top: 200px; /* Расстояние от верхнего края окна */
}
.btn-cut .btn-cutting {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  border-radius: 15px;
  background-color: rgb(204, 138, 71);
  margin: 10px auto 5px auto;
}
.btn-cut .btn-cutting:hover {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
  transform: scale(1.1);
}
.btn-cut .btn-cutting:hover .btn-cutting-exit {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
}
.btn-cut .btn-cutting .btn-cutting-exit {
  margin: 5px;
  background-color: rgb(204, 138, 71);
  border: 4px dashed #866e6e;
  border-radius: 15px;
  font-size: 20px;
  padding: 7px;
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  font-weight: 100;
}
.btn-cut .btn-cutting .btn-cutting-exit:hover {
  background-color: rgb(136, 91, 46);
}

@media (min-width: 768px) {
  .btn-cut {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    top: 200px; /* Расстояние от верхнего края окна */
  }
  .btn-cut .btn-cutting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(204, 138, 71);
    margin: 10px auto 5px auto;
  }
  .btn-cut .btn-cutting:hover {
    background-color: rgb(136, 91, 46);
    cursor: pointer;
    transform: scale(1.1);
  }
  .btn-cut .btn-cutting:hover .btn-cutting-exit {
    background-color: rgb(136, 91, 46);
    cursor: pointer;
  }
  .btn-cut .btn-cutting .btn-cutting-exit {
    margin: 5px;
    background-color: rgb(204, 138, 71);
    border: 4px dashed #866e6e;
    border-radius: 15px;
    font-size: 20px;
    padding: 7px;
    color: #ffffff;
    font-family: "MV Crooker", sans-serif;
    font-weight: 100;
  }
  .btn-cut .btn-cutting .btn-cutting-exit:hover {
    background-color: rgb(136, 91, 46);
  }
}
.btn-draw {
  width: 320px;
  justify-content: center;
  align-items: center;
  top: 400px; /* Расстояние от верхнего края окна */
  right: 20px;
}
.btn-draw .btn-drawing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  border-radius: 15px;
  background-color: rgb(204, 138, 71);
  margin: 10px auto 50px auto;
}
.btn-draw .btn-drawing:hover {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
  transform: scale(1.1);
}
.btn-draw .btn-drawing:hover .btn-drawing-exit {
  background-color: rgb(136, 91, 46);
  cursor: pointer;
}
.btn-draw .btn-drawing .btn-drawing-exit {
  margin: 5px;
  background-color: rgb(204, 138, 71);
  border: 4px dashed #866e6e;
  border-radius: 15px;
  font-size: 20px;
  padding: 7px;
  color: #ffffff;
  font-family: "MV Crooker", sans-serif;
  font-weight: 100;
}
.btn-draw .btn-drawing .btn-drawing-exit:hover {
  background-color: rgb(136, 91, 46);
}

@media (min-width: 768px) {
  .btn-draw {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 400px; /* Расстояние от верхнего края окна */
    right: 750px;
  }
  .btn-draw .btn-cutting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(204, 138, 71);
    margin: 10px auto 50px auto;
  }
  .btn-draw .btn-cutting:hover {
    background-color: rgb(136, 91, 46);
    cursor: pointer;
    transform: scale(1.1);
  }
  .btn-draw .btn-cutting:hover .btn-cutting-exit {
    background-color: rgb(136, 91, 46);
    cursor: pointer;
  }
  .btn-draw .btn-cutting .btn-cutting-exit {
    margin: 5px;
    background-color: rgb(204, 138, 71);
    border: 4px dashed #866e6e;
    border-radius: 15px;
    font-size: 20px;
    padding: 7px;
    color: #ffffff;
    font-family: "MV Crooker", sans-serif;
    font-weight: 100;
  }
  .btn-draw .btn-cutting .btn-cutting-exit:hover {
    background-color: rgb(136, 91, 46);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "MV Crooker", sans-serif;
  line-height: 1.5;
  width: 320px;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  display: none;
}
.page.active {
  display: block;
}/*# sourceMappingURL=main.css.map */