@import '../../../styles/base/variables';

.draw {
  margin-top: 100px;
  width: $page-width;
  height: 100vh;
  background-image: url('../assets/images/mobile/Чертеж подоконника.png');
  background-size: 100%;
  background-repeat: no-repeat;
  color: $text-color-light;
}
