@import '../../../styles/base/variables';

#drawing {
  margin-top: 70px;
  width: $page-width;
  height: 100vh;
  color: $text-color-primary;
  img {
    width: 100%;
    height: auto;
  }
  p {
    font-size: 10px;
  }
}
