@import '../../../styles/base/variables';

#stone-selection {
  background: $text-color-secondary;
  width: $page-width;
  height: 4000px;
  overflow-y: auto;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  perspective: 1000px;
  .stonemanufacturer {
    color: $text-color-light;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
  }
  .stonemanufacturer-name {
    color: $text-color-light;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    text-align: center;
  }

  .txt-choose-a-color {
    color: $text-color-light;
    font-family: $font-family-base;
    text-align: center;
    margin: 10px 30px;
    font-size: 30px;
    width: 100px;
  }
  .array-stones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid-element {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border: 3px solid $button-background-color;
    border-radius: 20px;
    cursor: pointer;
    background-color: $text-color-light;
    width: 90%;
    height: 150px;
    margin: 10px;
    transform-style: preserve-3d;
    transition: transform 0.5s, box-shadow 1.5s;

    // &:hover {
    //   transform: rotateY(10deg) rotateX(10deg);
    // }

    .button-image {
      width: 150px;
      border-radius: 17px;
      margin-right: auto;
      margin-left: 20px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      transition: transform 0.7s ease;
      &:hover {
        transform: scale(1.1);
      }
    }

    .price {
      display: flex;
      flex-direction: column;
      margin: 5px;
      .info-stones {
        color: $text-color-primary;
      }
    }

    .button-description {
      margin-top: 5px;
      color: #555;
    }
  }
}
