@import '../../../styles/base/variables';

#stone-selection {
  background-image: url('../assets/images/mobile/Выбрать камень.png');
  width: $page-width;
  height: 4000px;
  overflow-y: auto;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
