@import '../../../styles/base/variables';

#cutting {
  // background-image: url('../assets/images/mobile/Корзина.png');
  width: $page-width;
  height: 1100px;
  overflow-y: auto;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
