@import '../../../styles/base/variables';

#calculator {
  background-image: url('../assets/images/mobile/Калькулятор44.webp');
  width: $page-width;
  height: 1100px;
  overflow-y: hidden;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.stone-selection-name {
  margin-top: 230px;
  display: flex;
  justify-content: center;
  color: $text-color-light;
}
.data-size {
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;

  .data-size-input {
    display: flex;
    justify-content: space-between;
    margin: 3px;

    label {
      font-size: 17px;
    }
  }
  .data-input-border {
    width: 100px;
    height: 30px;
    border: 2px solid $text-color-secondary;
    border-radius: 20px;
    background: $text-color-light;
    text-align: center;
    font-size: 20px;
  }
}
.calck-txt {
  color: $text-color-secondary;
}
