@import '../../../styles/base/variables';

#calculator {
  width: $page-width;

  background-image: url('../assets/images/mobile/Калькулятор.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
