@import '../../../styles/base/variables';

#cart {
  background-image: url('../assets/images/mobile/Корзина4.webp');
  width: $page-width;
  height: 1100px;
  overflow-y: auto;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
.cart-choose-a-color {
  color: $text-color-light;
  font-family: $font-family-base;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 30px;
  width: 300px;
}
.cart-name-choose {
  display: flex;
  width: 90%;
  justify-content: space-between;

  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  div {
    color: $text-color-light;
    font-size: 20px;
  }
}
.cart-data-choose {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: $button-background-color;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  .cart-data-stone {
    width: 80%;
  }
  .cart-data-size-order {
    width: 80%;
  }
}

.cost-order-data-viz {
  color: $text-color-light;
  font-size: 20px;
  text-align: center;
}
.place-an-order {
  text-align: center;
  font-size: 30px;
  color: $text-color-secondary;
}
#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .pole {
    width: 90%;
    height: 40px;
    background-color: $button2-background-color;
    border-radius: 15px;
    margin: 5px;
    border: none;
    color: $text-color-light;
  }
  .pole3 {
    height: 100px;
    color: $text-color-primary;
    padding: 8px;
  }
}

/* Стили для placeholder */
.pole::placeholder {
  color: white; /* Установите цвет текста на белый */
  opacity: 1; /* Убедитесь, что текст не полупрозрачный */
  padding-left: 20px;
  font-size: 20px;
}
.cart-text-bottom {
  color: $text-color-secondary;
}
.cost-order-data-viz .cost-order-data-logic {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  font-weight: 100 !important;
  color: aqua;
  font-size: 30px;
}
