@import '../../../styles/base/variables';

#home {
  background-image: url('../assets/images/mobile/Вся главная страница мобильник4.webp');

  width: $page-width;
  height: $page-heigth;
  overflow-y: hidden;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.header-contact {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 370px;

  a {
    font-size: 20px;
    text-decoration: none;
    color: $text-color-primary;
  }

  .whatsapp-icon {
    width: 24px;
    height: auto;
    margin-left: 10px;
    margin-right: -5px;
  }
  .telegram-icon {
    width: 24px;
    height: auto;
    margin-left: 10px;
  }
}
.txt-contact {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100;
  color: $text-color-light;
  margin-left: 10px;
  margin-right: 10px;
}
#openMap {
  width: 100px;
  background: transparent;
  border: none;
}
