@import '../../../styles/base/variables';

#home {
  background-image: url('../assets/images/mobile/Вся главная страница мобильник.png');

  width: $page-width;
  height: $page-heigth;
  overflow-y: auto;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
