// Цвета текста
$text-color-primary: #866e6e; // основной цвет текста
$text-color-secondary: #7e6e12; // вторичный цвет текста
$text-color-light: #ffffff; // светлый текст

// Размеры шрифта
$font-size-small: 14px; // мелкий текст
$font-size-medium: 16px; // основной текст
$font-size-large: 24px; // заголовки

// Жирность шрифта (опционально)
$font-weight-regular: 400;
$font-weight-bold: 700;

// Высота строки (опционально)
$line-height-base: 1.5;

// Шрифты
$font-family-base: 'MV Crooker', sans-serif;
$page-width: 350px;
$page-heigth: 2200px;
